# Maven
target/

# Logs
*.log

# Eclipse
.project
.classpath
.settings/

# IntelliJ
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Allure results & report folders
/target/allure-results/
/target/allure-report/

# Local Allure CLI
/.allure/

test-output/